<div *ngIf="hero" style="margin-top: 50px; margin-left: 10px">
  <h2>{{ hero.name | uppercase }} Details</h2>
  <div><span>Id: </span>{{ hero.id }}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="name" /> <br />
    <button type="button" (click)="goBack()">Go back</button>
    <button type="button" (click)="save()">save</button>
  </div>
</div>
