/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");

/* everywhere else */
* {
  font-family: "Fredoka", sans-serif;
}

h1 {
  color: #42545c;
  font-size: 250%;
}
h2,
h3 {
  color: #444;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body,
input[type="text"],
button {
  color: #333;
  cursor: pointer;
}
