<!-- <div>
  <h2>My Heroes</h2>
  <ul class="heroes">
    <li *ngFor="let hero of heroes">
      <button
        [class.selected]="hero === selectedHero"
        type="button"
        (click)="onSelect(hero)"
      >
        <span class="badge"> {{ hero.id }}</span>
        <span class="name"> {{ hero.name }}</span>
      </button>
    </li>
  </ul>
</div> -->

<div style="margin-top: 50px; margin-left: 10px">
  <h2>My Heroes</h2>
  <ul class="heroes">
    <li *ngFor="let hero of heroes">
      <a routerLink="/heroes/{{ hero.id }}">
        <span class="badge">{{ hero.id }}</span> {{ hero.name }}
      </a>
      <button
        type="button"
        class="delete"
        title="delete hero"
        (click)="delete(hero)"
      >
        x
      </button>
    </li>
  </ul>
</div>

<div>
  <label for="new-hero">Hero name: </label>
  <input id="new-hero" #heroName />

  <button
    type="button"
    class="add-button"
    (click)="add(heroName.value); heroName.value = ''"
  >
    Add hero
  </button>
</div>

<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->

<!--
<div *ngIf="selectedHero">
  <h2>{{ selectedHero.name | uppercase }} Details</h2>
  <div><span>id: </span> {{ selectedHero.id }}</div>
  <div>
    <label for="name">Hero name: </label>
    <input id="name" [(ngModel)]="selectedHero.name" placeholder="name" />
  </div>
</div> -->
